{% extends 'polls/base.html' %}

{% block styles %}

<style>
.container {
    text-align: center;
}
</style>

{% endblock styles %}

{% block content %}
{% if not result %} 
<form action="" method="post">
{% csrf_token %}
<div class="container">
    <p>Please Enter Your Email</p>
</div>
<div class="container">
    <input type="text" value="" name="resetemail">
</div>
<div class="container">
    <input type="submit" value="Submit Request">
</div>
</form>
{% else %}
    {% if result1 %}
        <p>There was an error submitting your request. Please contact customer support for further instructions.</p>    
    {% else %}
        <h3>Please Check Your Email for instructions on how to reset your password.</h3>
    {% endif %}






{% endblock %}